.btn
  font-weight: 100

  i
    vertical-align: middle
    display: inline-block
    margin-right: 4px
    margin-top: -4px

  &.btn-flat
    color: $secondary-color
    font-weight: 400
    transition: all 300ms ease-in

    &:hover
      color: white
      background-color: darken($bg_primary, 10)

  &.btn-default
    &.active
      background-color: #6a6a7b
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8)
      color: #dedede

  &.btn-secondary
    background-color: #827e7e

    &:hover
      background-color: lighten(#827e7e, 20)

  &.btn-narrow
    padding: 0 6px
