<div class="container">
    <div class="jumbotron-region"></div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <div class="nodes-filter">
                    <div class="filter-label">Filter by:</div>
                    <div class="btn-group filter-menu">
                        <div class="btn btn-primary btn-sm {{#is filteringBy 'all' }}active{{/is}} all" data-target="all">All</div>
                        <div class="btn btn-primary btn-sm {{#is filteringBy 'botany' }}active{{/is}} botany" data-target="botany"><span class="icon botany"></span> Botany</div>
                        <div class="btn btn-primary btn-sm {{#is filteringBy 'mining' }}active{{/is}} mining" data-target="mining"><span class="icon mining"></span>  Mining</div>
                        {{!-- <div class="btn btn-primary fishing"><span class="icon fishing"></span> Fishing</div>--}}
                        <div class="btn btn-primary btn-sm {{#is filteringBy 'custom' }}active{{/is}} custom" data-target="custom"><span class="icon custom"></span> Custom</div>
                    </div>                        
                </div>
                <div class="nodes-filter">
                    <div class="filter-label">Special attributes:</div>                        
                    <div class="btn-group attr-menu">
                        <div class="btn btn-default btn-sm {{#inArray attrFilters 'is_collectable'}}active{{/inArray}} is_collectable" data-target="is_collectable"><span class="fa fa-cube"></span> Collectable</div>
                        <div class="btn btn-default btn-sm {{#inArray attrFilters 'is_ephemeral'}}active{{/inArray}} is_ephemeral" data-target="is_ephemeral"><span class="fa fa-star"></span> Ephemeral</div>
                        <div class="btn btn-default btn-sm {{#inArray attrFilters 'is_legendary'}}active{{/inArray}} is_legendary" data-target="is_legendary"><span class="fa fa-book"></span> Legendary</div>
                        <div class="btn btn-default btn-sm {{#inArray attrFilters 'red_scrip'}}active{{/inArray}} scrip red_scrip" data-target="red_scrip"><span class="icon red_scrip"></span></div>
                        <div class="btn btn-default btn-sm {{#inArray attrFilters 'blue_scrip'}}active{{/inArray}} scrip blue_scrip" data-target="blue_scrip"><span class="icon blue_scrip"></span></div>
                    </div>                        
                </div>
            </div>
            <div class="col-md-3 align-right">
                <div class="btn-group">
                    <a class="btn btn-default new-timer-btn btn-lg"><i class="fa fa-plus"></i> New Timer</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-menu col-md-6">
                <div class="filter-list-form">
                    <div class="form-group">
                        <label>Filter List:</label>
                        <input type="text" class="form-control node-search-input" />
                        <small>Search by: Name or Location</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Active Nodes:</h3>
        <div class="active-nodes-region">
            <div class="nodes-list active-nodes"></div>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Up Next Hour:</h3>
        <div class="next-hour-nodes-region"></div>
    </div>
    <div class="col-md-12">
        <h3>In 2 Hours:</h3>
        <div class="two-hour-nodes-region"></div>
    </div>
    <div class="col-md-12">
        <h3>After That:</h3>
        <div class="other-nodes-region"></div>
    </div>
</div>
<div class="new-timer-modal-region" id="new-timer-modal"></div>