<div class="container">
    <div class="jumbotron-region"></div>
    <div class="col-md-12 nodes-filter">
        <div class="filter-label">Filter by:</div>
        <div class="btn-group filter-menu">
            <div class="btn btn-primary botany"><span class="icon botany"></span> Botany</div>
            <div class="btn btn-primary mining"><span class="icon mining"></span>  Mining</div>
            <div class="btn btn-primary fishing"><span class="icon fishing"></span> Fishing</div>
            <div class="btn btn-primary custom"><span class="icon custom"></span> Custom</div>
        </div>
        <div class="btn-group pull-right">
            <a href="#timers/new" class="btn btn-default"><i class="fa fa-plus"></i> New Timer</a>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Active Nodes:</h3>
        <div class="active-nodes-region">
            <div class="nodes-list active-nodes"></div>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Up Next Hour:</h3>
        <div class="next-hour-nodes-region"></div>
    </div>
    <div class="col-md-3">
        <h3>In 2 Hours:</h3>
        <div class="two-hour-nodes-region"></div>
    </div>
</div>