<div class="collapse-toggle">
    <a class="toggle-link btn btn-default">
        <i class="fa"></i>
    </a>
</div>
<div class="jumbo-content">
    <div class="clock-region"></div>
    <p>Eorzean Time</p>    
</div>
