<div class="container">
    <div class="col-md-12">
        <h3>Watch List <a class="watch-settings-link btn btn-default btn-sm"><i class="fa fa-cog"></i> preferences</a></h3>
    </div>
    <div class="watched-nodes-region col-md-12"></div>    
</div>
<div class="modal-region" id="watch-list-modal"></div>
