<div class="container">
    <div class="col-md-12">
        <h3>
            Watch List 
            <a class="watch-settings-link btn btn-default btn-sm"><i class="fa fa-cog"></i> preferences</a>
            <a class="btn btn-sm pull-right clear-list"><i class="fa fa-times"></i> clear all</a>
        </h3>
    </div>
    <div class="watched-nodes-region"></div>    
</div>
<div class="modal-region" id="watch-list-modal"></div>
