
<form>
    <div class="form-group">
        <label>Notification Time</label>
        <div class="form-inline">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-time" id="alarm-time1" value="0" {{#is alarm.time '0' }}checked {{/is}} />
                    0 hours (at time)
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-time" id="alarm-time2" value="1" {{#is alarm.time '1' }}checked {{/is}} />
                    1 Hour
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-time" id="alarm-time3" value="2" {{#is alarm.time '2' }}checked {{/is}} />
                    2 Hours
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-time" id="alarm-time2" value="3" {{#is alarm.time '3' }}checked {{/is}} />
                    3 Hours
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Notice Style</label>
        <div class="form-inline">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-style" id="alarm-style1" value="alert" {{#is 'alert' alarm.type}}checked {{/is}} />
                    Browser alert
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="alarm-style" id="alarm-style2" value="popup" {{#is 'popup' alarm.type}}checked {{/is}} />
                    In-window pop-up
                </label>
            </div>
            {{#if desktop}}
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="alarm-style" id="alarm-style2" value="desktop" {{#is 'desktop' alarm.type}}checked {{/is}} />
                        Desktop Notification (needs permission)
                    </label>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
        <label>Alert Sound</label>
        <select class="form-control sound-option-list" name="alarm-sound">
            <option value="none">No Sound</option>
            {{#each soundList}}
                <option value="{{ id }}" {{#is id ../alarm.sound}}selected {{/is}}>{{ name }}</option>
            {{/each}}
        </select>
        </div>
        <div class="sound-preview pull-left hidden">
            <i class="fa fa-play play"></i>
            <i class="fa fa-stop stop"></i>
        </div>
    </div>
    <div class="form-actions align-right">
        <a class="btn btn-primary btn-save">Save</a>
        <a class="btn btn-default btn-close" data-dismiss="modal">Cancel</a>
    </div>
</form>



