
.home {
    .jumbotron {
        text-align: center;
        position: relative;
        @include transition(height 200ms ease-in);

        &.closed {
            height: 15px;
            overflow: hidden;
            padding: 30px;

            .jumbo-content {
                display: none;
            }

            .collapse-toggle {
                .fa {
                    @extend .fa-plus;
                }
            }
        }

        .clock {
            font-size: 90px;
        }

        .collapse-toggle {
            position: absolute;
            top: 15px;
            right: 15px;

            .fa {
                @extend .fa-minus;
            }

            .toggle-link {
                cursor: pointer;
            }
        } 
    }

    .nodes-filter {
        display: inline-block;
        margin-right: 8px;
    }

    .filter-menu, .attr-menu {
        margin-bottom: 12px;
        
        .btn {
            min-width: 75px;
            min-height: 43px;
            vertical-align: middle;
            line-height: 30px;
        }

        .scrip {
            min-width: 30px;
        }

        .icon {
            width: 25px;
            height: 25px;
            display: inline-block;
        }
    }

    .new-timer-btn {
        margin-top: 12px;
    }

    .filter-list-form {
        margin-top: 12px;
    }
}


@media(max-width: 500px) {
    .home {
        // min-width: 375px;

        .filter-menu, .attr-menu {
            margin-bottom: 8px;
            
            .btn {
                line-height: 20px;
                min-height: 25px;
                min-width: auto;
                padding: 8px 10px;                
            }

            .icon {
                width: 15px;
                height: 15px;
            }
        }

    }

}