
.node {

    .node-content {
        @extend .clearfix;
        @extend .alert;    
        @include transition(all 200ms ease-in);
        border: 1px solid #ccc;
        cursor: pointer;
    }
    
    &.node-block {
        &:hover .node-content {
            opacity: 0.5;
        }

        .node-content {
            border: 3px solid #ccc;
            position: relative;
            padding: 0;
            height: 220px;

            .earth-time {
                @include transition(all 200ms ease-in);
            }

            &.active {
                &.botany {
                    border-color: $botany;
                    color: $botany;
                    background-color: #E6F2DE; 
                }

                &.mining {
                    border-color: $mining;
                    color: $mining;
                    background-color: #FFF6F0; 
                }

                &.custom {
                    color: $custom;
                    border-color: $custom;
                    background-color: #FFEDFF;
                }
            }

            &.warning {
                .earth-time {
                    @extend .text-warning;
                }
            }

            &.urgent {
                .earth-time {
                    @extend .text-danger;
                }
            }


        }

        .node-heading {
            padding: 4px 15px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 4px;
            min-height: 30px;

            .icon {
                width: 18px;
                height: 18px;
                margin-right: 8px;
                margin-left: -8px;
            }
        }

        .node-footer {
            padding-top: 4px;
            margin-top: 4px;
            border-top: 1px solid #ccc;
            text-align: center;
        }

        .title {
            margin-bottom: 8px;
        }

        .btn-delete {
            position: absolute;
            top: 4px;
            right: 4px;
        }

        .node-body {
            padding: 6px;
            text-align: center;
        }

        .time-remaining, .time-until {
            font-weight: bold;
            line-height: 34px;
            margin-bottom: 8px;
            @include transition(font-size 200ms ease-in);
        }

        .time-until {
            font-size: 30px;
        }

        .time-remaining {
            font-size: 38px;
        }

    }

    &.node-slim {
        .node-content {
            margin-bottom: 4px;
            padding: 6px;

            &.warning {
                @extend .alert-warning;
            }

            &.urgent {
                @extend .alert-danger;
            }

        }

        &:hover  .node-content, .node-content.selected {
            background-color: $state-info-bg;
            border-color: $state-info-border;
        }

        .node-content.selected {
            border-width: 3px;
        }

        .node-heading {
            float: left;

            .icon {
                width: 20px;
                height: 20px;
            }

            .title {
                font-weight: bold;
            }
        }

        .node-info {
            display: inline-block;
            float: left;
        }

        .node-body {
            float: right;

            .location {
                display: inline-block;
            }
        }
        
    }
}

@media(max-width: 500px) {
    .node {
        &.node-slim {
            .node-info {
                display: block;
                width: 100%;
                padding-left: 30px;
            }

            .node-body {
                float: none;
                text-align: left;
                clear: both;
                margin-top: 6px;
                margin-left: 30px;
            }

            .location {
                display: block;
                text-align: left;
            }
        }
    }

}
