.watch-list {
    .watch-settings-link {
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
        margin-top: -4px;
    }   

    .preferences-form {
        .radio-inline {
            margin-right: 6px;
        }
    }    
}