body {
    padding: 60px 0;
}

* {
    @include animation(all 300ms ease-out);
}

.bordered-header {
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.primary-nav {

    .menu-link {
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
    }

    .menu-toggle {
        display: none;
    }

    .css-toggle {
        display: none;
        cursor: pointer;

        &.active {
            display: inline-block;
        }
    }

    .clock-region {
        display: inline-block;

        .clock {
            color: #fff;
            padding: 15px;
            font-size: 18px;
            line-height: 20px;
            height: 50px;
            @include transition(background-color 300ms ease-in);

            &.am {
                background-color: #77C3B9;
            }

            &.pm {
                background-color: #C167FF;
            }
        }
    }
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

.parsley-error {
    background-color: $state-danger-bg;
    border-color: $state-danger-border;
    color: $state-danger-text;
}

.preferences-form {
    font-size: 14px;
    line-height: 20px;

    .radio-inline {
        margin-right: 10px;
        margin-bottom: 8px;
    }

    .sound-preview {
        margin-top: 30px;
        font-size: 25px;
        
        .play { display: block; }
        .stop { display: none; }

        &.playing {            
            .play { display: none; }
            .stop { display: block; }
        }
    }
} 

.icon {
    display: inline-block;
    background-size: auto 100%;

    &.red_scrip {
        background: url('/img/red_scrip.png') top center no-repeat;
    }

    &.blue_scrip {
        background: url('/img/blue_scrip.png') top center no-repeat;
    }

    &.collectible {
        background: url('/img/collectable_icon.png') top center no-repeat;
    }
}

.promo {
    font-weight: bold;
    margin-top: 20px;
}

.fc-logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
    display: none;
}

.dark .fc-logo {
    &.light {
        display: none;
    }

    &.dark {
        display: inline-block;
    }
}

.light .fc-logo {
    &.light {
        display: inline-block;
    }

    &.dark {
        display: none;
    }
}
 

@media(max-width: 768px) {
    .primary-nav {
        .menu-toggle {
            display: inline-block;
        }

        .menu-region {
            clear: both;
            float: none !important;
            margin: 0 15px;
        }

        .navbar-nav {
            display: none;

            &.collapsing, &.in {
                display: block;
            }
        }
    }
}

@media(max-width: 400px) {
    body {
        padding: 100px 0;
    }

}
