<div class="container">
    <div class="col-md-12">
        <h2>Eorzea Timers - An Open Source Project.</h2>
        <h3>Version: {{version}} (<a href="https://github.com/tnbKristi/eorzea_timers/releases/tag/{{version}}">release notes</a>)</h3>
        <p>Please report bugs and data errors at the Github repository <a href="https://github.com/tnbKristi/eorzea_timers">here</a>, or contribute to the code via pull request.</p>
        <p>Created by Kesha Thorne from Marlboro, a Gathering &amp; Crafting nut. :]</p>
        <h3>App Features</h3>
        <ul>
            <li>Completely client-side code - no server requests needed to keep time up to date, so it's more accurate</li>
            <li>Uses LocalStorage to save your preferences and watch lists.</li>
            <li>Add your own custom timers! Saved via LocalStorage until you remove them.</li>
            <li>Slots, and x/y coordinates included with all known unspoiled node locations.</li>
            <li>Incredibly easy to update and contribute! <a href="https://github.com/tnbKristi/eorzea_timers">Learn more here.</a></li>
        </ul>
        <h3>Wish List</h3>
        <p>There's a few things I haven't added yet that I'd like to, or need a hand with. <a href="https://github.com/tnbKristi/eorzea_timers">Check them out at the github repo here.</a> </p>
    </div>
</div>