<iframe src="http://eorzea-timers.com/widget.html" width="100%" height="130px" style="border:0;"></iframe>
<hr />
<h4>Copy + paste this wherever you want to display your timer:</h4>
<pre>
    &lt;iframe src="http://eorzea-timers.com/widget.html" width="100%" height="130px" style="border:0;"&gt;&lt;/iframe&gt;
</pre>
