<div class="navbar-brand">
	<div class="clock-region"></div>
</div>
<div class="menu-region">
	<ul class="nav navbar-nav pull-right">
		<li><a href="#big-clock">Big Clock</a></li>
		<li><a href="">Timers</a></li>
		<li><a href="">About</a></li>
	</ul>
</div>