<a href="#" class="navbar-brand">Eorzea Timers</a>
<div class="menu-region pull-right">
	<ul class="nav navbar-nav">
		<li><a href="" class="home">Home</a></li>
        <li><a href="" class="timers">Watch List</a></li>
		<li><a href="">About</a></li>
	</ul>
	<div class="clock-region"></div>
</div>
