@import '_variables'
@import '_fonts'
@import 'icons'
@import 'nav'
@import 'node'
@import 'buttons'
@import 'home'

.primary-font
  font-family: 'Roboto', sans-serif

body
  @extend .primary-font
  font-weight: 300
  background-color: $bg_primary
  color: $text_primary

a
  color: $link_primary

// Simple Helpers
.inline-block
  display inline-block
