@import 'config/variables'
@import 'materialize/materialize'
@import 'config/fonts'
@import 'components/icons'
@import 'components/buttons'

@import 'modules/home'
@import 'modules/nav'
@import 'modules/node'

.primary-font
  font-family: 'Roboto', sans-serif

body
  @extend .primary-font
  font-weight: 300
  background-color: $bg_primary
  color: $text_primary

a
  color: $link_primary

// Simple Helpers
.inline-block
  display inline-block
