// Text colors
$text_primary: #c7c1c1
$text_dark: #272b30
$bg_primary: #272b30
$link_primary: #4899de

$danger_color: #b71c1c
$danger_color_bg: #ef9a9a

$warning_color: #bf6f17
$warning_color_bg: #ffcaba

$active_color: #80deea

// Misc
$pm_bg: #C167FF
$am_bg: #77C3B9
$text_shadow_default: 1px 1px 2px rgba(0,0,0,0.6)
$navbar_bg: #41454a
$border: #7d7d7d
$border_light: lighten($border, 30)

$selected_bg: #52b7aa
$hover_bg: #0091EA
$selected_text: $bg_primary

$btn-default-bg: transparent
$btn-default-border: #676A6D
$btn-default-color: #b4b4b5

// ---------------------
// Materialize Overrides
$roboto-font-path: "../assets/fonts/roboto/" !default

// Typography Overrides
// Header Styles
$h1-fontsize: 3.2rem
$h2-fontsize: 2.56rem
$h3-fontsize: 1.92rem
$h4-fontsize: 1.28rem
$h5-fontsize: 1rem
$h6-fontsize: .9rem

// 5. Collapsible
// ==========================================================================

$collapsible-height: 3rem
$collapsible-line-height: $collapsible-height
$collapsible-header-color: transparent
$collapsible-border-color: $text_primary
