<a href="#" class="navbar-brand">Eorzea Timers <small>v{{ version }}</small></a>
<div class="pull-left">
    <a class="css-toggle menu-link light" data-target="light"><i class="fa fa-sun-o"></i></a>
    <a class="css-toggle menu-link active dark" data-target="dark"><i class="fa fa-moon-o"></i></a>
</div>
<div class="clock-region pull-right"></div>
<a class="pull-right menu-link menu-toggle" data-toggle="collapse" href="#menu"><i class="fa fa-bars"></i></a>
<div class="menu-region pull-right"></div>
