<a href="#" class="navbar-brand">Eorzea Timers <small>v{{ version }}</small></a>
<div class="clock-region pull-right"></div>
<a class="pull-right visible-sm-block visible-xs-block menu-toggle" data-toggle="collapse" href="#menu"><i class="fa fa-bars"></i></a>
<div class="menu-region pull-right"></div>
